*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
    color: #fff;
    background-color: rgb(3, 3, 43);

    
}
.header{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 50px;
    background: rgb(3, 3, 52);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding-bottom: 30px;
    padding-top: 5x;
  height: 80px;
}
.header img{
    width: 50px;
}
.logo{
    position: relative;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRlight 1s ease forwards;
    text-transform: capitalize;
    text-align: center;

}

#triangle{
    color: red;
    font-size: 50px;
    margin-right: 508px;
    margin-top: 5px;
    padding: 10px;
    transition: 0.5s;
}
#triangle:hover{
    transform: scale(1.2);
}
.navbar{
    height: 70px;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5 ease forwards ;
    text-transform: capitalize;
}
.navbar a:hover{
   
    text-shadow: 0 0 30px #0ef;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: rgb(3, 3, 43);
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    margin: 50px 0;
 
    margin: 0;
}

.home-content{
    max-width: 600px;
 
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}
.home-content h3 span{
    color: red;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.img{
    position: relative;
   
}
#photo1{
position: absolute;
right: -500px;
top: -320px;
font-size: 250px;
transition: 0.5s;
border: none;
outline: none;
color: red;
padding: 10px;

}

  


.home-sci a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}


@keyframes slideRlight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }}
    /* about */

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    text-align: left;
  margin-bottom:  60px; 
  height: 700px;
}
.about-img i{
    margin-top: 20px;
    margin-left: 20px;
 padding-bottom: 20%;
 max-width: 630px;
 
 font-size: 400px;
 border-radius: 8px;
 color: red;
 padding-top: 30px;
 
}


.about-text h2{
    font-size: 60px;
    color: #0ef;
    
}
.about-text h2 span{
    color: red;
    
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
    padding-right:20px ;
}
#paragraph{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
   padding-top:10px ;
    margin-bottom: 6rem;
   height: 800px;
    padding-bottom: 20px;

}
.sub-title{
text-align: center;
font-size: 60px;
padding-bottom:55px ;
}
.sub-title span{
    color: #0ef;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px,1fr));
    grid-gap: 30px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s ,transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7;
    margin-bottom: 40px;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    
}
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
.services-list div:hover{
    transform: translateY(-10px);
}
#skills{
    
    margin-top:0 ;
    margin-bottom: 150px;
    height: 300px;
    padding-bottom: 400px;
   
}

.container1{
  margin:55px 30px;

 height: 200px;
 
 height: 400px;
display: block;

}
.bar{
  
    height: 200px;
   
    margin: 5px;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    
    border-radius: 40px;
    font-size: 16px;
    transition: 0.6s;
    letter-spacing: 1px;

   
}
.bar i{
    font-size: 40px;
}
.bar:hover{
   transform: translateY(-10px)

}
.bar p{
    width: 100px;
    margin: 5px 0;
}
.technical-bars{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:3rem;
    padding-left: 30px;
    margin-top: 130px;
    
}
.contact-text{
    margin-bottom: 30px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
   text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
color: rgb(177, 177, 177);
font-size: 20px;
line-height: 30px;
margin: 2rem;
}
.contact-list{
margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50px;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;

}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding:18px;
    background: rgb(9, 9, 128);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
   
}
.contact-form form input::placeholder,form textarea::placeholder{
    color: #fff;
}
.contact-form textarea{
    resize: none;
    height: 220px;
  
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    margin-top: 10px;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
.last-text{
    background-color: transparent;
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(9, 9, 128);
    font-weight: 300;
    margin-top: 70px;
  
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
    background: #0ef;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
.team{
    width: 90%;
    height: 1200px;
    background:transparent;
    margin: auto;
    padding: 30px 20px;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;

}
#team{
    text-align: center;
    margin-top: 30px;
    
}
#team-text{
    margin-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  padding-bottom:30px ;
  
}
#team-text span{
color: #0ef;
}
.person1{
    background-color:transparent;
    margin: 15px 3%;
   width:250px;
   height: 260px;
   border-radius: 20px;
   box-shadow: 0 0 5px #0ef,
   0 0 25px #0ef;
    padding: 20px 15px;
    backdrop-filter: blure(10px);
    transition:0.6s ;
    
}
.person1:hover{
    transform: translateY(-10px)

 }
.picture{

    margin: 22px 10px;
    margin-bottom: 60px;
   
    border-radius: 50%;
    height: 60px;
 object-position: center;
   
}

.text-name-job {
   
    font-size: 18px;
    text-align: left;
    padding: 0 8px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    color:#fff;
    font-weight: 600;

}
.text{
   padding: 12px 0;
}
.person1 img{
    width: 100px;
    height: 100px;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #0ef;
    background-position: center;

}




    @keyframes slideTop{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateY(0px);
            opacity: 1;
        }
      
}


